<h2>Current Party Plan:</h2>
<div class="container" id="party-plan">
    <div id="party-guests">
        <h4>GUESTS!</h4>
        <ul>
        <% party.forEach(partyItem=>{ %>
            <% if (partyItem.guestId){ %>  
                <li>
                    <span> <%= partyItem.guest.name %></span>
                    <div class="dropdown">
                        &#43;
                        <div class="dropdown-content">
                            <p>Likes: <%= partyItem.guest.likes %></p>
                            <p>Dislikes: <%= partyItem.guest.dislikes %></p>
                            <p>Allergies/Sensitivities: <%= partyItem.guest.allergies %></p>
                        </div>
                    </div>
                    <form method="POST" action="/<%= partyItem.id %>/?_method=DELETE">
                        <input type="submit" value="Remove from Party Plan">
                    </form>
                </li>
            <% } %>
        <% }) %> 
        </ul>
    </div>
    <div id="party-recipes">
        <h4>FOOD!</h4>
        <ul class="meal-items">
        <% party.forEach(partyItem=>{ %>
            <% if (partyItem.faveRecipeId){ %>  
                <li>              
                    <p> <%= partyItem.faveRecipe.name %></p>
                    <img src="<%= partyItem.faveRecipe.image %>" height="100" width="100"> 
                    <form method="POST" action="/<%= partyItem.id %>/?_method=DELETE">
                        <input type="submit" value="Remove from Party Plan">
                    </form>  
                </li>
            <% } %>
        <% }) %> 
        </ul>
    </div>
    <div id="party-drinks">
        <h4>DRINKS!</h4>
        <ul class="meal-items">
        <% party.forEach(partyItem=>{ %>
            <% if (partyItem.faveDrinkId){ %>  
                <li>
                    <p> <%= partyItem.faveDrink.name %></p>
                    <img src="<%= partyItem.faveDrink.image %>" height="100" width="100">
                    <form method="POST" action="/<%= partyItem.id %>/?_method=DELETE">
                        <input type="submit" value="Remove from Party Plan">
                    </form>
                </li>
            <% } %>
        <% }) %> 
        </ul>
    </div>
</div>