<h2><%= recipeInfo.title %></h2>
<img src="<%= recipeInfo.image %>" height="250px" width="350px">
<br>
<ul>
    <% recipeInfo.extendedIngredients.forEach(ingredient=>{ %>
        <li>
            <%= ingredient.amount %> <%= ingredient.unit %> <%= ingredient.name %> 
        </li>
    <% }) %> 
</ul>
<h4>Instructions:</h4>
<ol>
        <% recipeInfo.analyzedInstructions[0].steps.forEach(step=>{ %>
            <li>
                <%= step.step %>
            </li>
        <% }) %> 
</ol>