<h2><%= recipeInfo.title %></h2>
<img src="<%= recipeInfo.image %>" height="250px" width="350px">

<form action="/food/<%= recipeInfo.id %>/favorites" method="post">
    <input type="hidden" name="name" value="<%= recipeInfo.title %>">
    <input type="hidden" name="image" value="<%= recipeInfo.image %>">
    <input type="hidden" name="apiId" value="<%= recipeInfo.id %>">
    <input type="submit" value="Save this Recipe">
</form>

<br>
<div class="ingredients-container">
<ul class="default-list">
    <% recipeInfo.extendedIngredients.forEach(ingredient=>{ %>
        <li>
            <%= ingredient.amount %> <%= ingredient.unit %> <%= ingredient.name %> 
        </li>
    <% }) %> 
</ul>
</div>
<h4>Instructions:</h4>
<ol>
        <% recipeInfo.analyzedInstructions[0].steps.forEach(step=>{ %>
            <li>
                <%= step.step %>
            </li>
        <% }) %> 
</ol>