<h1>Cocktails!</h1>

<h2>Your Saved Cocktails</h2>

<ul>
    <% faveDrinks.forEach(drink=>{ %>
        <li>
            <img src="<%= drink.image %>" height=100px width=150px>
            <a href="/drink/<%= drink.apiId %>">
           <p> <%= drink.name %> </p> 
            </a>
            <form method="POST" action="/drink/add">
                <input type="hidden" name="id" value="<%= drink.id %>">
                <input type="hidden" name="name" value="<%= drink.name %>">
                <input type="submit" value="Add To Party Plan">
            </form>
        </li>
    <% }) %>
    </ul> 


<h3>Search for Drinks</h3>

<form method="GET" action="/drink/results">
    <label for="drinkKeyword">Search for Drinks:</label>
    <input type="text" name="keyword" id="drinkKeyword">
    <input type="submit" value="Search">
</form>



