<h1><%= drinkInfo.strDrink %></h1>
<img src="<%= drinkInfo.strDrinkThumb %>" height=250px width=250px>

<form action="/drink/<%= drinkInfo.idDrink %>/favorites" method="post">
    <input type="hidden" name="name" value="<%= drinkInfo.strDrink %>">
    <input type="hidden" name="image" value="<%= drinkInfo.strDrinkThumb %>">
    <input type="hidden" name="apiId" value="<%= drinkInfo.idDrink %>">
    <input type="submit" value="Add to Favorites">
</form>

<div id="cocktail-recipe">
<ul>
<% for (key in drinkInfo) { %>
    <% let measureUnit %> 
    <% if (key.includes('strMeasure') && drinkInfo[key] !== null) { %>
        <% measureUnit = drinkInfo[key] %>
        <% } else { %>
            <% continue %>
        <% } %>    
    <li>
        <%= measureUnit %>
    </li>
    <% } %> 
</ul>
<ul id="cocktail-ingredients">
<% for (key in drinkInfo) { %> 
    <% let ingredient %> 
    <% if (key.includes('strIngredient') && drinkInfo[key] !== null) { %>
        <%  ingredient = drinkInfo[key] %>
    <% } else { %>
        <% continue %>
    <% } %>    
    <li>
        <%= ingredient %> 
    </li>
    <% } %> 
</ul>
</div>
<h4>Instructions:</h4>
<p>
    <%= drinkInfo.strInstructions %> 
</p>