<h1>Guests</h1>


    <% guests.forEach(guest=>{ %>
        <div class=guest-container>
            <p><%= guest.name %></p>
            <p>Likes: <%= guest.likes %></p>
            <p>Dislikes: <%= guest.dislikes %></p>
            <p>Allergies/Sensitivities: <%= guest.allergies %></p>
        </div>
        <a href="/guests/edit/<%= guest.id %>">
        <input type="button" value="Edit">
        </a>
        <form method="POST" action="/guests/<%= guest.id %>/?_method=DELETE">
            <input type="submit" value="Delete">
        </form>
    <% }) %>

<br>
<a href="/guests/new">
<input type="button" value="Create New">
</a>